/* General */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EDC4B3;
}


/* Navbar */
.navbar {
    background-color: #C38E70;
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
    margin-left: 20px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


.navbar-brand:hover {
    color: #fff;
    background: #EDC4B3;
}


.nav-link {
    color: #fff;
}


.navbar-nav li a {
    color: #FFF;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar-nav li a:hover {
background: #EDC4B3;
}

.navbar-toggler {
    color: #fff;
}


/* Alert */
.alert {
font-size: 13px;
border-radius: 0;
margin-bottom: 0;
}
   

/* Call out */

.callout-container {
    height: 100vh;
    background: url("../images/girl.png") no-repeat top left fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.lead {
    margin: 30px;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}

.badge {
    color: #fff;
    background-color: #C38E70;
    font-size: 20px;
}


/* Jumbotron */

.jumbotron-header {
color: black;
font-weight: bold;
margin-bottom: 20px;
font-size: 100px;
}

.jumbotron {
    background-color: rgba(129, 212, 233, 0.5);
}

.jumbotron small {
font-size: 90%;
color: #fff;
}

/* Usp */

.usp-container {
    text-align: center;
}


/* Reasons */

.reasons-container {
text-align: center;
margin-bottom: 20px;
}





/* Footer */
#footer {
    background-color:#C38E70;
    color: #fff;
    border-top: 60px;
    border-bottom: 60px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 17px;
    line-height: 7px;
    text-align: center;
    color: #FFF;
    background-color: #E6B8A2;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #EDC4B3;
}


/* Buttons */

.btn-cta {
    font-weight: bold;
    width: 300px;
    border-radius: 30px;
    color: #fff;
    background-color: #ffc40f;
}

.btn-cta:hover,
.btn-cta:active,
.btn-cta:focus,
.btn-cta:active:focus {
    background-color: rgb(248, 163, 5);
    border-color: #ffc40f;

}





/* Modal */

.modal-header{
    background-color: #C38E70;
}

#cta-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.claim-btn {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #C38E70;
    width: 200px;
    height: 40px;
    letter-spacing: 1px;
}

.claim-btn:hover,
.claim-btn:active,
.claim-btn:focus,
.claim-btn:active:focus {
    background: #EDC4B3;
}



